/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

 @import "bootstrap/bootstrap.min";
 @import "others/theme";
 @import "others/bootstrap-reset";
 @import "font_awesome/font-awesome";
 @import "others/flexslider";
 @import "bxslider/jquery.bxslider";
 @import "fancybox/jquery.fancybox";
 @import "revolution_slider/rs-style";
 @import "revolution_slider/settings";
 @import "superfish/superfish";
 @import "superfish/superfish-vertical";
 @import "others/style";
 @import "others/style-responsive";
 @import "hover-min";


.we_hiring{
  padding-top: 5px;
}

.newsletter-header{
  background-color: #f39c12;
}

.newsletter-text{
  color: #333333;
}

#myCarousel .item img{
  width: 100%!important;
  margin: 0
}

.d-flex{
  display: flex;
}

.flex-direction-column {
  display: flex!important;
  flex-direction: column
}

.justify-content-center{
  justify-content: center;
}

.page-header {
  border-bottom: 0px;
  margin-top: 80px;
}

.margin-top-15 {
  margin-top: 20px
}

.border-top-color {
  border-top-color: #666666;
}

.white-button{
  background-color: #fff;
  color: #333333;
  border-radius: 25px;
  border: solid 1px;
}

.no-padding{
  padding: 0;
}

.typewriter h1,  {
  animation: line1 3s steps(27);
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Source Code Pro', monospace;
  // font-weight: 800;
  font-size: 96px;
  // border-right: 4px solid black;
  width: 27ch;
  position: absolute;
  top: 65px;
  left: 5%;
  color: #ffffff;
}

.typewriter h1:nth-child(2){
  animation: line2 3s steps(27);
  position: absolute;
  top: 165px;
  left: 5%;
}

.typewriter h1:nth-child(3) {
  animation: banner-links 6s steps(27);
  position: absolute;
  top: 215px;
  left: 5%;
}

.banner-links {
  overflow: hidden;
  white-space: nowrap;
  animation:  banner-links 4s steps(27);
  font-size: 24px;
  position: absolute;
  top: 315px;
  left: 6%;
  width: 100%;
  color: #fff;
}
.banner-links:hover {
  overflow: initial!important;
}

.typewriter a {
  animation: line3 3s ;
  top: 265px;
  left: 5%;
  color: #fff;
}

.height-480 {
  background: url(/assets/Banner.jpg);
  height: 420px;
}

@keyframes line1 {
  0% {
    width: 0ch ;
  }
  100% {
    width: 27ch;
  }
}
@keyframes line2 {
  0% {
    width: 0ch ;
  }
  50% {
    width: 0ch;
  }
  100% {
    width: 27ch;
  }
}

@keyframes line3 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes banner-links {
  0% {
    width: 0ch ;
  }
  50% {
    width: 0ch;
  }
  75% {
    width: 0ch;
  }
  100% {
    width: 27ch;
  }
}

.gray-color {
  color: #cccccc!important;
}

.blue-color {
  color: #9AA3FF!important;
}

.modal-dialog {
    width: 90%!important;
}

.width-10{
  width: 10%!important;
}

.width-100 {
  width: 100%!important;
}

.white-btn:hover {
  color: #333333;
}

#three-images img{
  opacity: 1;
}

#three-images img:hover{
  opacity: 0.3;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.years-10 {
  top: 70%;
  position: absolute;
  left: 87%;
  z-index: 1;
}
