/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

 @import "bootstrap/bootstrap.min";
 @import "others/theme";
 @import "others/bootstrap-reset";
 @import "font_awesome/font-awesome";
 @import "others/flexslider";
 @import "bxslider/jquery.bxslider";
 @import "fancybox/jquery.fancybox";
 @import "revolution_slider/rs-style";
 @import "revolution_slider/settings";
 @import "superfish/superfish";
 @import "superfish/superfish-vertical";
 @import "others/style";
 @import "others/style-responsive";
 @import "hover-min";


.we_hiring{
  padding-top: 5px;
}

.newsletter-header{
  background-color: #f39c12;
}

.newsletter-text{
  color: #333333;
}

#myCarousel .item img{
  width: 100%!important;
  margin: 0
}

.d-flex{
  display: flex;
}

.flex-direction-column {
  display: flex!important;
  flex-direction: column
}

.justify-content-center{
  justify-content: center;
}

.page-header {
  border-bottom: 0px;
}

.margin-top-15 {
  margin-top: 15px
}

.border-top-color {
  border-top-color: #666666;
}

.white-button{
  background-color: #fff;
  color: #000;
}

.no-padding{
  padding: 0;
}

.typewriter h1  {
  animation: line1 3s steps(22);
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Source Code Pro', monospace;
  // font-weight: 800;
  font-size: 96px;
  // border-right: 4px solid black;
  width: 22ch;
  position: absolute;
  top: 175px;
  left: 5%;
  color: #ffffff;
}

.typewriter h1:nth-child(2){
  animation: line2 3s steps(22);
  position: absolute;
  top: 275px;
  left: 5%;
}

.typewriter h1:nth-child(3){
  animation: line2 6s steps(22);
  position: absolute;
  top: 325px;
  left: 5%;
}

.typewriter a {
  animation: line3 3s ;
  position: absolute;
  top: 300px;
  left: 5%;
}

.height-480 {
  background: url(/assets/Banner.png);
  height: 480px;
}

@keyframes line1 {
  0% {
    width: 0ch ;
  }
  100% {
    width: 22ch;
  }
}
@keyframes line2 {
  0% {
    width: 0ch ;
  }
  50% {
    width: 0ch;
  }
  100% {
    width: 22ch;
  }
}

@keyframes line3 {
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

.gray-color {
  color: #cccccc!important;
}

.modal-dialog {

    width: 90%!important;
}